<!DOCTYPE html>
<html>
<head>
	<title>angular 指令</title>
	<meta charset="utf-8" />
	<style type="text/css">
		.fontSize50 {
			font-size: 50px;
		}
		.blue {
			color: blue;
		}
		.bgGreen {
			background-color: green;
		}
		.bgRed {
			background-color: red;
		}
	</style>
</head>
<body>
	<!-- ng-app定义应用程序的根元素 ng-init初始化数据 ng-controller定义控制器对象 -->
	<div ng-app="myApp" ng-init="host='wsq'" ng-controller="myCtrl">
		<!-- ng-bind 使用给定的变量或表达式来替换元素的内容 ng-cloak防止加载时闪烁 -->
		<p><span ng-bind="host" ng-cloak></span> is studing angular.</p>
		<!-- ng-bind-html 通过一个更安全的方式将内容绑定到元素中去，会移除html中的危险代码，但需要引入angular-sanitize.js
		一般用于变量或表达式中存在html片段
		-->
		<p ng-bind-html="dangerHtml"></p>
		<!-- ng-bind-template 使用指定的表达式来替换元素内容，一般用于想将多个表达式绑定到一个元素的情况 -->
		<p ng-bind-template="{{foods[0] + ' is good!'}} {{foods[1] + ' is very nice!'}}"></p>
		<!-- ng-class 给元素动态绑定一个或多个类，变量或表达式返回的可以是字符串(多个用空格分隔)，数组，对象(key为类名，value为true or false，为true时类才生效) -->
		<p ng-class="strClass">这是一个ng-class控制的元素，变量为string</p>
		<p ng-class="arrClass">这是一个ng-class控制的元素，变量为array</p>
		<p ng-class="objClass">这是一个ng-class控制的元素，变量为object</p>
		<!-- ng-class-even和ng-class-odd分别给偶数行和奇数行添加一个或多个类，常和ng-repeat搭配使用 -->
		<ul>
			<li ng-repeat="f in foods" ng-class-even="'bgGreen'" ng-class-odd="'bgRed'">{{f}}</li>
		</ul>
		<!-- ng-disabled 规定表单元素是否被禁用 表达式返回true时禁用  -->
		被禁用的输入框: <input type="text" name="name" ng-disabled="true" />
		<button ng-disabled="true">按钮</button>
		<!-- ng-hide和ng-show 规定元素的现实和隐藏 -->
		<div ng-show="isHide">被隐藏的块</div>
		<div ng-hide="isHide">显示的块</div>
		<!-- ng-href 为a标签添加链接，覆盖了原来的href，一般用在href中有angularJs代码 
			可以是字符串或{{}}表达式，不能是变量
		-->
		<a ng-href="{{href}}">百度</a>
		<!-- ng-if false时移除元素，true时添加元素 -->
		<div ng-if="isHide">被移除的元素</div>
		<div ng-if="!isHide">添加的元素</div>


		<!-- ng-include 将被包含的文件作为子节点引入，另外可以指定onload:加载完成之后执行的表达式，
		autoscroll:是否自动添加滚动 -->
		<!-- <div ng-include="'studys/helloWorld.html'" onload="loadSuccess" autoscroll="true"></div> -->
		<!-- ng-include也可以作为标签来使用 -->
		<!-- <ng-include src="'studys/helloWorld.html'" onload="loadSuccess" autoscroll="true"></ng-include> -->


		<!-- ng-list 将字符串转化为数组，并使用逗号分隔  ng-model 将输入的值绑定到控制器的$scope中 -->
		<input type="text" name="arrTest" ng-model="listTest" ng-list />
		<div>带有ng-list的可编辑框会将字符串转换为数组:{{listTest}}</div>

		<!-- ng-model-options 规定绑定到模型的时机 
			updateOn:'event' 事件触发之后绑定
			debounce: 1000 1000毫秒之后绑定
			allowInvalid: true|false 是否验证之后绑定到模型
			getterSetter:是否作为 getters/setters 绑定到模型
			timezone: '0100' 规定是否使用时区
		-->
		<input type="text" name="modelOptions" ng-model="clickOptions" ng-model-options="{updateOn: 'blur'}" />
		<p>失去焦点之后会触发绑定:{{clickOptions}}</p>
		<input type="text" name="modelOptions" ng-model="debounceOptions" ng-model-options="{debounce:2000}" />
		<p>两秒之后会触发绑定:{{debounceOptions}}</p>

		<!-- ng-non-bindable 告诉angularJs子元素不需要编译，即子元素中的angular不会起作用 -->
		<div ng-non-bindable>
			这里的angularJs不会起作用
			<span>{{dangerHtml}}</span>
		</div>

		<!-- ng-open 指定details元素的open属性 -->
		<details ng-open="false">
			<summary>ng-open</summary>
			<p>ss1d dfk j j j j j j jj j j j j j j</p>
		</details>

		<!-- ng-options 设置select元素的option -->
		<select ng-model="food" ng-options="i for i in foods"></select>
		<p>选中的食物:{{food}}</p>

		<!-- ng-readonly 动态设置表单域的readonly属性 -->
		readOnly <input type="checkbox" name="readOnly" ng-model="isReadonly" />
		<input type="text" name="textReadonly" ng-readonly="isReadonly" />

		<!-- ng-repeat 用于循环输出多次html模板 -->
		<p>ng-repeat循环输出:</p>
		<p ng-repeat="f in foods">{{f}}</p>

		<!-- ng-selected 设置option元素的selected属性 -->
		编号:<select>
			<option>1</option>
			<option ng-selected="true">2</option>
			<option>3</option>
			<option>4</option>
		</select>

		<!-- ng-src 需要是字符串或{{}}表达式 替换<img>中的src属性，如果src中包含angularJs则使用ng-src -->
		七龙珠： <img ng-src="{{imgSrc}}" />

		<!-- ng-srcset 用法同上，也可用作替换<source>中的srcset -->
		七龙珠： <img ng-srcset="{{imgSrc}}" />

		<!-- ng-style 替换元素的style属性，但返回的必须是对象 -->
		<p ng-style="styleObj">这是段使用ng-style定义样式的文本</p>

		<!-- ng-switch 根据表达式显示或隐藏相应部分，与ng-switch-when配合使用 -->
		我喜欢： <select ng-model="loveFood">
			<!-- ng-value 覆盖input/option 中的value属性，value含有angularJs的情况下使用 -->
			<option ng-value="$index" ng-repeat="f in foods">{{f}}</option>
		</select>
		<div ng-switch="loveFood">
			<div ng-switch-when="0">
				<h1>饺子</h1>
			</div>
			<div ng-switch-when="1">
				<h1>灌汤包</h1>
			</div>
			<div ng-switch-when="2">
				<h1>炒粉</h1>
			</div>
			<div ng-switch-when="3">
				<h1>肉饼汤</h1>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../libs/basic/angular.min.js"></script>
	<script type="text/javascript" src="../libs/basic/angular-sanitize.min.js"></script>
	<script type="text/javascript">
		/*定义模板的时候需要加上引入的angular-sanitize.js中的模块ngSanitize*/
		var app = angular.module('myApp', ['ngSanitize']);
		app.controller('myCtrl', function($scope){
			$scope.dangerHtml = '这是一段<strong>危险</strong>的代码';
			$scope.foods = ['饺子', '灌汤包', '炒粉', '肉饼汤'];
			$scope.strClass = 'fontSize50 blue bgGreen';
			$scope.arrClass = ['fontSize50', 'blue', 'bgGreen']; 
			$scope.objClass = {
				fontSize50: true,
				blue: false,
				bgGreen: true
			};
			$scope.isHide = false;
			$scope.href = 'http://www.baidu.com';
			$scope.loadSuccess = function(){
				alert('ok');
			};
			$scope.imgSrc = '../images/1.jpg';
			$scope.styleObj = {
				'color': 'red',
				'background-color': 'orange',
				'font-size': '60px'
			};
		})
	</script>
</body>
</html>