<!DOCTYPE html>
<html>
<head>
	<title>angularJs 过滤器</title>
	<meta charset="utf-8" />
	<script type="text/javascript" src="../libs/basic/angular.min.js"></script>
</head>
<body>
	<div ng-app="filterApp" ng-controller="filterCtrl" ng-cloak>
		<!-- angularJs 过滤器可用于转换数据 -->
		<!-- | currency: "str" 用于转换为货币形式数据，默认为$，也可以指定为其他货币单位 -->
		<span>{{price | currency}}</span><br/>
		<span>{{price | currency:"￥"}}</span>

		<!-- | uppercase/| lowercase 格式化字符串为大写或小写 -->
		<p>{{desc | uppercase}}</p>
		<p>{{desc | lowercase}}</p>

		<!-- | date 时间格式化 -->
		<p>{{1490161945000 | date:"yyyy-MM-dd HH:mm:ss"}}</p>
		<p>{{1490161945000 | date:"yyyy年MM月dd日 HH时mm分ss秒"}}</p>

		<!-- | number 数字格式化，保留多少位小数，四舍五入，为负数时表示取整 -->
		<p>{{4224 | number:-3}}</p>
		<p>{{33.3374 | number:2}}</p>
		<p>{{22245666 | number:-4}}</p>

		<!-- | orderBy 根据表达式排序 -->
		<p>升序排列:</p>
		<p ng-repeat="u in users|orderBy:'userId'">{{u.userId}}  {{u.userName}}</p>
		<p>降序排列:</p>
		<p ng-repeat="u in users|orderBy:'userId':true">{{u.userId}}  {{u.userName}}</p>

		<!-- | filter 根据表达式过滤 -->
		<label>输入过滤字符:
			<input type="text" name="filterStr" ng-model="filterStr" />
		</label>
		<ul>
			<li ng-repeat="u in users | filter:{userName:filterStr} | orderBy:userId">{{u.userName}}</li>
		</ul>

		<!-- | limitTo 字符串的截取 正数表示从前开始截取多少位，负数表示从后开始截取多少位
		接受两个参数，第一个是截取多少位，第二个表示从哪个位置开始
		-->
		<p>{{desc |trim | limitTo:5:9}}</p>
		<p>{{desc |trim | limitTo:-4:5}}</p>

		<!-- 自定义过滤器 无参数 -->
		<p>{{desc | trim}}</p>
		<!-- 自定义过滤器，多参数，以:分隔 -->
		<p>{{desc | arguments:'23':33}}</p>
	</div>
	<script type="text/javascript">
		var app = angular.module('filterApp', []);
		app.controller('filterCtrl', ['$scope', function($scope){
			$scope.price = 21400;
			$scope.desc = 'this is a filter demo.';
			$scope.users = [{
				userId : 1,
				userName : 'lilei'
			}, {
				userId : 2,
				userName : 'hanmeimei'
			}, {
				userId : 7,
				userName : 'wangwu'
			}, {
				userId : 5,
				userName : 'lisi'
			}]
		}]);

		/*自定义过滤器 --- 无参数*/
		app.filter('trim', function(){
			return function(text){
				return text.replace(/ /g, '');
			};
		});
		/*自定义过滤器 --- 多参数*/
		app.filter('arguments', function(){/*可以依赖注入*/
			return function(text){
				var newArgumentsArr = Array.prototype.slice.call(arguments);//将类数组转换为数组
				return text + newArgumentsArr.join();
			};
		});
	</script>
</body>
</html>